:root {
    --orange: #ff9d00;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    
    100% {
        opacity: 1;
    }
}

.fade {
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-name: fade;
    animation-fill-mode: forwards;
}

body {
    font-family: "roboto";
    font-size: 16px;
    font-weight: 400;
    overflow-x: hidden;
    background: #000;
}

.title {
    font-size: 40px;
    text-transform: uppercase;
    font-family: "source sans pro";
    margin: 0 0 20px 0;
}

.title::after {
    display: block;
    content: ' ';
    height: 4px;
    width: 100px;
    background: var(--orange);
    position: relative;
    margin: 10px auto 20px auto;
}

a {
    text-decoration: none;
    text-transform: uppercase;
}

.home {
    height: 100vh;
    width: 100vw;
    background: url(/media/background4.jpg);
    background-size: cover;
    background-position: center center;
    opacity: 0;
    animation-delay: 0.5s;
    background-attachment: fixed;
}

.overlay {
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.65);
    background-size: cover;
    background-position: center center;
    padding: 0 50px;
    opacity: 0;
    animation-delay: 1s;
}

.main-nav {
    height: 80px;
    padding: 30px;
    text-align: center;
    opacity: 0;
    animation-delay: 1s;
}

.main-nav a {
    font-size: 20px;
    font-family: "roboto";
    font-weight: 600;
    margin: 0 30px;
    padding: 10px 20px;
    color: #fff;
    transition: .4s all ease-in-out;
}

.main-nav a:hover, .main-nav a:active {
    background: var(--orange);
    color: #000;
}

.home .overlay .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    padding: 10px;
    width: 80%;
    word-wrap: break-word;
    opacity: 0;
    animation-delay: 1.5s;
}

.content h1 {
    text-transform: uppercase;
    font-family: "source sans pro";
    font-size: 80px;
    margin: 20px 0;
}

.content h2 {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2px;
    margin: 20px 0 40px 0;
}

.content a {
    position: relative;
    font-size: 20px;
    font-family: "roboto";
    font-weight: 600;
    margin: 0 30px;
    padding: 10px 20px;
    transition: .4s all ease-in-out;
    background: #fff;
    color: #000;
    border-radius: 20px;
    box-shadow: 0px 4px 1px 1px #aaa;
}

.content a:hover {
    background: var(--orange);
    box-shadow: 0px 1px 1px 1px #aaa;
}

.content a:active {
    background: var(--orange);
    box-shadow: 0 0 0 0 #000;
}

.top-news {
    background: #fff;
    text-align: center;
    padding: 50px;
}

@media only screen and (max-width: 800px) {
    .top-news {
        padding: 20px;
    }
}

.news-flex {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 1em;
}

.news-item {
    padding: 20px;
    text-align: center;
} 

.news-item div {
    height: 250px;
    width: 90%;
    position: relative;
    margin: 10px auto;
    background: url(../media/news.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

.news-item:nth-child(odd) {
    background: var(--orange);
}

.news-item:nth-child(even) {
    background: #000;
    color: #fff;
}

.news-item h2 {
    font-family: "source sans pro";
    text-transform: uppercase;
    font-weight: 600;
    margin: 0 auto 10px;
    position: relative;
}

.news-item p {
    font-family: "roboto";
    line-height: 1.5;
    width: 90%;
    position: relative;
    margin: 10px auto 20px;
}

.news-item-1 {
    grid-column: 1/3;
}

.news-item-2 {
    grid-column: 3/4;
    grid-row: 1/3;
}

@media only screen and (max-width: 1200px) {
    .news-item {
        grid-column: 1/5;
    }
}

.video {
    min-height: 60vh;
    padding: 50px 50px 75px 50px;
}

.video h1 {
    color: #fff;
    position: relative;
    text-align: center;
    margin: auto;
}

.video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 300px;
    grid-gap: 4em;
}

.video-item {
    height: 100%;
    width: 85%;
    position: relative;
    margin: 10px auto;
    box-shadow: 0px 1px 20px 3px rgba(255, 157, 0, 0.75);
}

@media only screen and (max-width: 1500px) {
    .video-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 1000px) {
    .video-grid {
        grid-template-columns: 1fr;
        width: 90%;
        position: relative;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 800px) {
    .video-grid {
        grid-template-columns: 1fr;
        width: 100%;
    }
    
    .video {
        padding: 20px 20px 40px 20px;
    }
}

.info-news {
    min-height: 60vh;
    background: #fff;
    padding: 50px;
    text-align: center;
}

.info-news-grid {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(200px, auto);
    grid-gap: 2em;
    width: 100%;
}

.info-news-grid a {
    text-decoration: none;
    color: #000;
    position: relative;
    display: block;
    padding: 10px;
    transition: .4s all ease;
    box-shadow: 0px 1px 5px 0.5px rgba(0, 0, 0, 0.75);
}

.info-news-grid a:hover, .info-news-grid a:active {
    transform: scale(1.025);
/*    background: rgba(255, 157, 0, 0.75);*/
    box-shadow: 0px 1px 10px 3px rgba(0, 0, 0, 0.75);
} 

.info-news-grid a h2 {
    font-size: 20px;
}

.info-news-grid a p {
    font-size: 16px;
    text-transform: capitalize;
    line-height: 1.5;
    margin: 10px auto;
}

.info-news-grid a span {
    font-size: 12px;
}

.info-item {
    position: relative;
    margin: 0 auto;
    padding: 10px;
}

.info-item-1 {
    grid-column: 1/3;
    text-align: left;
}

.info-item-2 {
    background: url(../media/news.jpg);
    background-size: cover;
    border: 2px solid #000;
    background-repeat: no-repeat;
    background-position: center center;
}

.info-item-3 {
    background: url(../media/news.jpg);
    background-size: cover;
    border: 2px solid #000;
    background-repeat: no-repeat;
    background-position: center center;
}

.info-item-4 {
    grid-column: 2/4; 
    text-align: right;
}

.info-item-5 {
    grid-column: 1/3;
    text-align: left;
}

.info-item-6 {
    background: url(../media/news.jpg);
    background-size: cover;
    border: 2px solid #000;
    background-repeat: no-repeat;
    background-position: center center;
}

@media only screen and (max-width: 1000px) {
    .info-news {
        padding: 20px;
    }
    
    .info-news-grid {
        grid-template-columns: 1fr;
        grid-auto-rows: repeat(6, 1fr);
        grid-auto-rows: minmax(200px, auto);
        grid-gap: 1em;
    }
    
    .info-news-grid a {
        text-align: center;
        grid-column: 1/2;
    }
    
    .info-item-4 {
        grid-row: 3/4; 
    }
}

.footer {
    background: #000;
    min-height: 20vh;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(100px, auto);
    color: #fff;
    text-align: center;
    grid-gap: 1em;
}

.footer div {
    padding: 20px;
}

.footer h2 {
    font-family: "source sans pro";
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 10px auto;
    position: relative;
}

.footer .newsletter input {
    border: none;
    padding: 10px;
    background: #000;
    color: var(--orange);
    border-bottom: 2px solid var(--orange);
    text-decoration: none;
    margin: 10px 20px;
    position: relative;
    font-size: 16px;
    font-family: "source sans pro";
    width: 350px;
}

input:active, input:focus {
    border: none;
    background: transparent;
}

.newsletter a {
    color: #000;
    padding: 10px 20px;
    margin: 10px 20px;
    background: var(--orange);
    border-radius: 40px;
    position: relative;
    transition: .4s all ease;
    font-weight: 600;
    display: block;
    width: 100px;
    position: relative;
    margin: 10px auto;
    box-shadow: 0px 4px 1px 1px #aaa;
}

.newsletter a:hover {
    background: #fff;
    color: #000;
    transform: scale(1.1);
    box-shadow: 0px 1px 1px 1px #aaa;
}

.footer .socials div {
    display: inline-block;
    background: var(--orange);
    height: 60px;
    width: 60px;
    border-radius: 100%;
    margin: 2.5%;
    transition: .4s all ease;
    cursor: pointer;
}

.socials a {
    text-decoration: none;
    color: #000;
    font-family: "Source sans pro";
    font-weight: 600;
    font-size: 18px;
}

.socials div:hover {
    transform: scale(1.1);
    background: #fff;
}

.bottom-nav {
    padding: 20px;
    grid-column: 1/3;
}

.bottom-nav a {
    display: inline-block;
    margin: 0 30px;
    padding: 10px 20px;
    text-decoration: none;
    color: var(--orange);
    border: 2px solid var(--orange);
    border-radius: 40px;
    transition: .4s all ease;
    font-weight: 600;
    letter-spacing: 1px;
}

.bottom-nav a:hover {
    background: var(--orange);
    color: #000;
}

.footer .copyright {
    grid-column: 1/3;
}

.footer .copyright p {
    font-weight: 400;
    font-size: 14px;
}

@media only screen and (max-width: 1500px) {
    .bottom-nav a {
        display: block;
        max-width: 400px;
        margin: 20px auto;
        position: relative;
    }
}

@media only screen and (max-width: 1200px) {    
    .footer {
        grid-template-columns: 1fr;
    }
    
    .footer div {
        grid-column: 1/2;
    }
}